<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">


    <link href="../static/style.css" rel="stylesheet">

    <title>Feature Request App</title>

  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">Feature Request App</a>
      <a class="ml-auto" href="/createFeature">Add New</a>
    </nav>

    <div class="container" id="featureList">
      <div class="row">
        <div class="col-12">
          {% if features|length > 0 %}
          <h1>Feature Submitted</h1>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Client</th>
                <th scope="col">Priority</th>
                <th scope="col">Target Date</th>
                <th scope="col">Product Area</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
                {% for feature in features %}
                <tr>
                  <td>{{ feature.title|e }}<br><small>{{ feature.description| e}}</small></td>
                  <td>Client {{ feature.client|e }}</td>
                  <td>{{ feature.priority|e }}</td>
                  <td>{{ feature.target_date|e }}</td>
                  <td>{{ feature.product_area|e }}</td>
                  <td><i class="fas fa-trash-alt"></i></td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
          {% else %}
          <div>No feature has been submitted yet. Head over to Add New to submit a new one.</div>
          {% endif %}
        </div>
      </div>
    </div>

    <footer class="footer">
      <p>&copy; Company 2018</p>
    </footer>
 
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!-- Optional JavaScript -->
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js" crossorigin="anonymous"></script>
  </body>
</html>